.wrapper{
    display: flex;
    gap: 100px;
    justify-content: center;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 107px;
    justify-content: center;
    
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 0px;   
}

.history-wrapper {
    display:flex;
    flex-direction: column;
}

.history {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.display {
    display: flex;
    font-size: 15px;
    height: 30px;
    
}

h1 {
    padding-right: 10px;
    gap: 20px;
}
