.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

.calculator-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 120px;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}