.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h1 {
    text-align: center;
}

.list {
    font-size: medium;
    margin-bottom: 20px;
    inline-size: 350px;
}

.completed {
    inline-size: 350px;
}

.task {
    display: flex;
    word-break: break-all;
}

.task:hover {
    background-color: rgb(238, 238, 238);
}


.list-input {
    margin-bottom: 20px;
}

.text-field {
    width: 310px;
}

.delete-button {
    margin-left: px;
    align-self: center;
}